.date-picker {
  margin-bottom: 50px;
  padding: 15px 40px 28px;
  background-color: #ceced8;
  color: #000000;
}

.date-picker__title {
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 1.31;
}

.date-picker__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  @media screen and (max-width: 1154px) {
    justify-content: center;
  }
}

.date-picker__list {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 85px;
  row-gap: 20px;

  @media screen and (max-width: 774px) {
    justify-content: center;
  }
}

// .date-picker__item {
// }

.date-picker__label {
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 1.31;
}

.date-picker__input {
  position: relative;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  width: 290px;
  height: 50px;
  padding-left: 50px;
}

.react-datepicker-wrapper .react-datepicker__input-container svg {
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.date-picker__input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.guest-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: 25px;

  @media screen and (max-width: 1154px) {
    justify-content: center;
  }
}

.guest-selection__item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.guest-selection__input-container {
  position: relative;
  width: 50px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  width: 100%;
  height: 50px;
  padding-left: 7px;
  font-size: 32px;
  -moz-appearance: textfield;
  border: 2px solid #90a4ae;
}

.guest-selection__buttons {
  position: absolute;
  top: 50%;
  right: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  transform: translateY(-50%);
}

.button-up,
.button-down {
  cursor: pointer;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.button-up:disabled,
.button-down:disabled {
  cursor: default;
  opacity: 0.5;
}

.date-picker__button {
  max-width: 340px;
  padding: 15px 32px;
  font-size: 25px;
  line-height: 1.31;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #2b365c;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #485480;
  }
}
