$table-border-color: #8f98b9;
$table-header-bg: #4c536b;
$table-body-bg: #cfcfd1;
$button-bg: #687bc0;
$button-hover-bg: #4c62bb;
$white-color: #ffffff;
$text-color-body: #000000;

.table {
  width: 100%;
  margin-bottom: 70px;
  border-collapse: collapse;
  border-spacing: 5px;
  border-bottom: 3px solid $table-border-color;
}

.tableHeader {
  height: 70px;
  font-style: italic;
  font-size: 28px;
  line-height: 1.28;
  text-align: left;
  color: $white-color;
  background-color: $table-header-bg;

  @media (max-width: 767px) {
    font-size: 22px;
    height: 60px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
    height: 50px;
  }
}

.cellCapacity,
.cellType,
.cellPrice {
  font-weight: 400;
  padding: 0 45px;

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (max-width: 480px) {
    padding: 0 5px;
  }
}

.cellType {
  width: 56.6%;
  border-left: 3px solid $table-border-color;
  border-right: 3px solid $table-border-color;

  @media (max-width: 767px) {
    width: 50%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.tableBody {
  height: 200px;
  text-align: left;
  background-color: $table-body-bg;

  @media (max-width: 767px) {
    height: 150px;
  }

  @media (max-width: 480px) {
    height: auto;
  }
}

.iconList {
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.roomInfo {
  display: flex;
  align-items: flex-end;
  column-gap: 15px;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.roomInfo svg {
  @media (max-width: 767px) {
    display: none;
  }
}

.roomDescription {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.priceButton {
  padding: 10px 30px;
  font-style: italic;
  font-size: 28px;
  line-height: 1.28;
  text-align: center;
  cursor: pointer;
  border: none;
  color: $white-color;
  background-color: $button-bg;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-hover-bg;
  }

  @media (max-width: 767px) {
    padding: 8px 25px;
    font-size: 24px;
  }

  @media (max-width: 480px) {
    padding: 6px 20px;
    font-size: 20px;
  }
}
