.sectionMainPoster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  width: 100%;
  height: 307px;

  font-family: 'PT Sans';
  font-weight: 700;
  line-height: 1.3;
  text-align: center;

  color: rgb(255, 255, 255);

  background-image: url('../../assets/images/main-poster.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 50px;
}

.subTitle {
  font-size: 38px;
}
