$border-color: #90a4ae;

.item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.label {
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 1.31;
}

.container {
  position: relative;
  width: 50px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 7px;
  font-size: 32px;
  -moz-appearance: textfield;
  border: 2px solid $border-color;
}

.buttonsBlock {
  position: absolute;
  top: 50%;
  right: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  transform: translateY(-50%);
}

.button {
  cursor: pointer;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}
