.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 518px;
  width: 100%;
  margin: 50px auto;
  padding-top: 20px;

  font-family: 'PT Sans';
  font-weight: 400;
  line-height: 1.34;

  background-color: var(--third-white-color);
}

.formTitle {
  margin-bottom: 30px;

  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.blockInpit {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  width: 100%;
  row-gap: 16px;
  max-width: 408px;
  margin-bottom: 35px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  font-size: 26px;
}

.input {
  padding: 18px 28px;
  font-size: 20px;
  line-height: 1.37;

  border: 2px solid var(--secondary-blue-color);
  outline: none;

  &::placeholder {
    color: var(--secondary-blue-color);
  }

  &:focus {
    border: 2px solid var(--primary-blue-color);
  }
}

.button {
  width: 100%;
  height: 104px;

  font-size: 32px;
  text-align: center;

  cursor: pointer;
  border: none;
  outline: none;
  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  &:hover,
  &:focus {
    background-color: var(--third-color);
  }
}

.error {
  position: absolute;
  color: var(--primary-red-color);
  bottom: -18px;
  font-size: 14px;
  font-weight: 400;
}
