$title-container-background: #c6c6dc;
$title-color: #202846;

.titleContainer {
  margin-bottom: 23px;
  background: $title-container-background;
}

.title {
  display: flex;
  align-items: center;
  max-width: 1457px;
  height: 116px;
  margin: 0 auto;
  padding-left: 140px;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.45;
  font-style: italic;
  color: $title-color;

  @media screen and (max-width: 767px) {
    padding-left: 50px;
    font-size: 36px;
  }
}
