$background-color-content: #c1c1c3e6;
$background-color-text: #dcdcdc;
$text-color: #202846;

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 50px;
  padding: 30px 70px;
  background-color: $background-color-content;
}

.text {
  display: flex;
  flex: 1 0 248px;
  align-items: center;
  padding: 50px 20px;
  font-family: 'PT Sans';
  font-size: 22px;
  font-weight: 400;
  line-height: 1.36;
  text-align: center;
  color: $text-color;
  background-color: $background-color-text;

  @media screen and (max-width: 424px) {
    font-size: 18px;
  }
}
