.sectionSecondPoster {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 50px;
  padding: 30px 70px;
  background-color: var(--secondary-gray-color);
}

.text {
  display: flex;
  flex: 1 0 248px;
  align-items: center;
  padding: 50px 20px;
  font-family: 'PT Sans';
  font-size: 22px;
  font-weight: 400;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--primary-gray-color);

  @media screen and (max-width: 424px) {
    font-size: 18px;
  }
}
