.block-lang-btn {
  position: relative;
}

.lang-btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover svg,
  &:hover span,
  &:focus svg,
  &:focus span {
    color: #64b2da;
    fill: #64b2da;
  }
}

.lang-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 424px) {
    display: none;
  }
}
