$select-text-color: #292a31;
$indicator-color: #000000;

.select {
  margin-bottom: 23px;
  font-family: 'PT Sans';
  font-size: 28px;
  line-height: 1.28;
  text-align: center;
  color: $select-text-color;
}

.indicatorsContainer {
  display: flex;
  justify-content: center;
  width: 40px;
}

.indicators {
  width: 0;
  height: 0;
  top: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid $indicator-color;
}
