.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  z-index: 5;
  background-color: #202846;
}

.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 1457px;
  margin: 0 auto;
  padding: 0 15px;
}
