.cottage-booking__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 23px;
}

.cottage-booking__images-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  @media screen and (max-width: 1262px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.cottage-booking__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
}

.cottage-booking__text {
  max-width: 718px;
  padding: 10px 70px;
  font-size: 24px;
  line-height: 1.31;
  color: #000000;

  @media screen and (max-width: 1262px) {
    max-width: 100%;
    padding: 20px 70px;
  }
}

.cottage-booking__images-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
