@import './assets/styles/resset.css';
@import-normalize;
@import './assets/styles/fonts.css';
@import './assets/styles/variables.css';

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdcdc;
}

.container {
  max-width: 1263px;
  margin: 0 auto;
  padding: 0 15px;
}
