:root {
  --primary-violet-color: #202846;
  --secondary-violet-color: #2e3963;

  --primary-white-color: #ffffff; /*белый*/

  --primary-black-color: #000000; /*черный*/

  --primary-blue-color: #64b2da; /*синий*/

  --third-white-color: #f2eeee; /*серый*/
  /*--primary-gray-color: #eaeaeb; /*серый*/
  /* --secondary-white-color: #eeecf1; /*серый*/
  /*--secondary-gray-color: #c1c1c3e6; /*серый*/
  --secondary-blue-color: #90a4ae; /*серый*/
  --third-gray-color: #aaaaaa33; /*серый*/

  /*--third-blue-color: #292a31; /*синий*/

  --primary-red-color: #ff0000; /*красный*/

  --primary-green-color: #32c682; /*зеленый*/
}
