:root {
  --primary-color: #202846;
  --secondary-color: #444765;
  --third-color: #27283a;
  --fourth-color: #552db133;
  --primary-white-color: #ffffff;
  --secondary-white-color: #eeecf1;
  --third-white-color: #f2eeee;
  --primary-blue-color: #64b2da;
  --secondary-blue-color: #90a4ae;
  --primary-red-color: #ff0000;
  --primary-gray-color: #eaeaeb;
  --secondary-gray-color: #c1c1c3e6;
  --third-gray-color: #aaaaaa33;
  --primary-green-color: #32c682;
}
