$contact-list-color: #000000;
$label-border-color: #202846;

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 76px;
  row-gap: 50px;
  max-width: 860px;
  margin: 0 auto;
  padding-bottom: 64px;
  color: $contact-list-color;

  @media screen and (max-width: 839px) {
    justify-content: center;
  }

  @media screen and (max-width: 659px) {
    flex-direction: column;
    align-items: center;
  }
}

.label {
  font-size: 26px;
  line-height: 1.32;
  border-bottom: 3px solid $label-border-color;
  padding-left: 15px;

  @media screen and (max-width: 839px) {
    text-align: center;
    padding-left: 0;
  }
}

.text {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}
